
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<script type="text/javascript" src="../static/js/vue.min.js"></script>
<script type="text/javascript" src="../lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="../lib/layer/2.4/layer.js"></script>

<link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="../lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/style.css" />

<style>
  td {
    padding:5px 5px 5px 0px
  }
</style>

<title>MyAccountInfo</title>
</head>

<div id="app" class="page-container" style="margin-top:-10px;margin-left:20px">

  <table align="center" width="80%">
    <tr>
      <td colspan="2">
        <i class="Hui-iconfont" style="font-size:1.5em;">
        &#xe60d;
        </i>
        <span style="font-size:1.5em">帐号信息</span>
        <hr/>
        <br/>
      </td>
    </tr>
    <tr>
      <td width="80px" >
          <label>姓名：</label>
      </td>
      <td width="87%">
        <input type="text" class="input-text radius size-M " readonly v-model="nickName" />
      </td>
    </tr>
    <tr>
      <td >
        <label>帐号（手机号）：</label>
      </td>
      <td>
        <input type="text" class="input-text radius size-M" readonly v-model="account" />
      </td>
    </tr>
    <tr>
      <td >
        <label>所属单位：</label>
      </td>
      <td>
        <input type="text" class="input-text radius size-M" readonly v-model="branchName" />
      </td>
    </tr>
    <tr>
      <td valign="top">
        <label for="ck-branchAdmin">操作权限：</label>
      </td>
      <td>
        <input type="radio" id="one" value="1" v-model="branchRole" disabled>
        <label for="one" title="只能查看水闸状态">查看</label> &nbsp;
        <input type="radio" id="two" value="2" v-model="branchRole" disabled>
        <label for="two" title="可以操作闸门">操控</label>&nbsp;
        <input type="radio" id="three" value="3" v-model="branchRole" disabled>
        <label for="three" title="管理部门人员和设备">管理</label>
      </td>
    </tr>
    <tr>
      <td >
        <label>帐号状态：</label>
      </td>
      <td>
        <input type="text" class="input-text radius size-M" readonly v-model="status" />
      </td>
    </tr>
  </table>

  <br/>
  <table  v-if="branchPrivlegeList.length > 0">
    <tr >
      <td colspan="3">
        <i class="Hui-iconfont" style="font-size:1.5em;">
        &#xe605;
        </i>
        <span style="font-size:1.5em">权限信息</span>
        <hr/>
        <br/>
      </td>
    </tr>
    <template v-for="(item, index) in branchPrivlegeList">
        <tr>
          <td width="20px" >
              <label>{{index+1}}</label>
          </td>
          <td width="100px" >
              <label>{{item.branchName}}</label>
          </td>
          <td>
              <input type="radio" id="one" value="0" v-model="item.privilege" disabled>
              <label for="one" title="">无权限</label> &nbsp;&nbsp;&nbsp;&nbsp;
              <input type="radio" id="two" value="1" v-model="item.privilege" disabled>
              <label for="two" title="">查看</label>&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="radio" id="three" value="2" v-model="item.privilege" disabled>
              <label for="three" title="">操控</label>
          </td>
        </tr>
    </template>
  </table>

  <br/>
  <table >
    <tr>
      <td colspan="2">
          <i class="Hui-iconfont" style="font-size:1.5em;">
          &#xe63f;
          </i>
          <span style="font-size:1.5em" for="ck_updatePwd">修改密码</span>
          <input type="checkbox" id="ck_updatePwd" v-model="isUpdatePwd"/>
          <hr/>
      </td>
    </tr>
    <tr v-if="isUpdatePwd">
      <td height="30px">
        <input  type="password" class="input-text radius size-M" v-model="oldPassword" style="width:200px" placeholder="旧密码"/>
        <input  type="password" class="input-text radius size-M" v-model="newPassword" style="width:200px" placeholder="新密码"/>
        <button @click="update()" class="btn btn-primary-outline radius center">
           更新
        </button>
      </td>
    </tr>
  </table>

  <div id="err" >
    <font color="red">{{errorInfo}}</font>
  </div>

</div>

<script type="text/javascript" src="common/constant.js?v=7"></script>
<script type="text/javascript" src="common/common.js?v=8"></script>
<script type="text/javascript" src="myAccountInfo.js?v=19 "></script>
</body>
</html>
