
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<script type="text/javascript" src="../../static/js/vue.min.js"></script>
<script type="text/javascript" src="../../lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../../static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="../../lib/layer/2.4/layer.js"></script>

<link rel="stylesheet" type="text/css" href="../../static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="../../lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/style.css" />

<style>
  td {
    padding:5px 5px 5px 0px
  }
</style>

<title>branchAdd</title>
</head>

<div id="app" class="page-container" style="margin-top:-20px">
  <span style="font-size:1.5em">增加管理单位</span>
  <br/><br/>
  <table >
    <tr>
      <td width="100px" >
        单位名称：
      </td>
      <td>
        <input type="text" class="input-text radius size-M" v-model="branchName"/>
      </td>
    </tr>
    <tr>
      <td valign="top">
        描述：
      </td>
      <td>
        <textarea type="text" class="textarea radius size-M" style="resize:none;"  v-model="description"></textarea>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="right" >
        <button @click="ok()" class="btn btn-primary-outline radius center">
          增加
        </button>
        <button @click="reset()" class="btn btn-primary-outline radius center">
          清空
        </button>
      </td>
    </tr>
  </table>
  <div id="err" >
    <font color="red">{{errorInfo}}</font>
  </div>

</div>

<script type="text/javascript" src="../common/constant.js?v=7"></script>
<script type="text/javascript" src="../common/common.js?v=7"></script>
<script type="text/javascript" src="branchAdd.js?v=5  "></script>
</body>
</html>
