
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<script type="text/javascript" src="../../static/js/vue.min.js"></script>
<script type="text/javascript" src="../../lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../../static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="../../lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="../../lib/BootstrapMenu/BootstrapMenu.my.js?v=4"></script>
<script type="text/javascript" src="../../lib/jquery.contextmenu/jquery.contextmenu.r2.js"></script>

<link rel="stylesheet" type="text/css" href="../../static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="../../lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/style.css" />
<link rel="stylesheet" type="text/css" href="../../lib/BootstrapMenu/bootstrap.min.css" />


<style>
  body {
    font-family: Menlo, Consolas, monospace;
    color: #444;
    font-size: 12pt;
  }
  .item {
    cursor: pointer;
  }
  .bold {
    font-weight: bold;
  }
  ul {
    padding-left: 1em;
    line-height: 1.5em;
    list-style-type: dot;
  }
</style>

<title>sysmenu</title>
</head>
<!-- item template -->
<script type="text/x-template" id="item-template">
  <li>
    <div>
      <span
        :class="{bold: isFolder}">

        <span v-if="isFolder"  @click="toggle">{{ open ? '-' : '+' }}</span>
        <span v-if="model.type=='user' || model.type=='device'">
          <i class="Hui-iconfont">
            {{ model.type=='user'?'&#xe62c;':'&#xe6ff;' }}
          </i>
        </span>
        <span   @click="showDetail"  :id="model.type+'_'+model.id" class="needContextMenu">

          {{ model.name }}
        </span>

      </span>
    </div>
    <ul v-show="open" v-if="isFolder" style="list-style-type:none;">
      <item
        class="item"
        v-for="(model, index) in model.children"
        :key="index"
        :model="model">
      </item>
  </li>
</script>


<!-- the demo root element -->
<ul id="menu" style="list-style-type:none;">
  <item
    class="item"
    :model="treeData">
  </item>
</ul>


<div id="app" class="page-container" >


</div>

<script type="text/javascript" src="../common/constant.js?v=7"></script>
<script type="text/javascript" src="../common/common.js?v=6"></script>
<script type="text/javascript" src="menu.js?v=76"></script>
</body>
</html>
